# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
*
uploads/
!mu-plugins/
!plugins/
!themes/
!themes/*
!themes/**/*

# ignore these plugins
plugins/hello.php

# ignore specific themes
themes/twenty*/

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite
*.shortpixel
