// TYPOGRAPHY

body {
	color: $c-body;
	font-family: $ff-body;
	font-size: $fz-body;
	font-weight: $fw-body;
	line-height: $lh-body;
}

a {
	color: $c-link;
	text-decoration: none;

	&:hover {
		color: $c-link-hover;
	}

	&:focus {
		color: $c-primary;
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

// Sizes
h1,
h2,
h3,
h4 {
	font-weight: $fw-headings;
}

h1,
%h1 {
	font-size: $fz-title;
	line-height: $lh-title;
}

h2,
%h2 {
	font-size: $fz-huge;
	line-height: $lh-huge;
}

h3,
%h3 {
	font-size: $fz-big;
	line-height: $lh-big;
}

h4,
%h4 {
	font-size: $fz-base;
	line-height: $lh-base;
}

.text {
	&-huge,
	&-big,
	&-medium {
		margin-bottom: 1em;
	}

	&-huge {
		@extend %h2;
	}

	&-big {
		@extend %h3;
	}

	&-medium {
		@extend %h4;
	}

	&-small {
		font-size: $fz-small;
		line-height: $lh-small;
	}

	// set default font state.
	&-body {
		font-size: $fz-body;
		line-height: $lh-body;
	}
}

// Colors
.text {
	@each $type, $color in $c-map {
		&-#{$type} {
			color: $color;
		}
	}
}

// Styles
.text-light {
	font-weight: $fw-light;
}

.text-normal {
	font-weight: $fw-normal;
}

.text-linethrough {
	text-decoration: line-through;
}

.text-italic {
	font-style: italic;
}

.text-underline {
	text-decoration: underline;
}

.text-uppercase {
	text-transform: uppercase;
}

// titles after titles
.text-withsubtitle {
	margin-bottom: 0 !important;

	+ .text-huge,
	+ .text-big,
	+ .text-medium,
	+ .text-small {
		margin-top: 0.5em;
	}
}

// Aligners
.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

@function rem($pxval, $base: 16) {

	@if not unitless($pxval) {
		$pxval: strip-units($pxval);
	}

	@if not unitless($base) {
		$base: strip-units($base);
	}

	@return ($pxval / $base) * 1rem;
}
