.card {
	display: flex;
	flex-flow: column wrap;
	margin-bottom: $m-large;
	margin-top: $m-huge;
	perspective: 1000px;
	position: relative;
	transition: 0.25s margin ease-out;

	&,
	.post-body,
	.inspire-thumb {
		border-radius: $bdr-rounded-corners $bdr-rounded-corners 0 0;
	}

	.card-shadow {
		border-radius: $bdr-rounded-corners;
		box-shadow: 0 rem(4) rem(12) rgba($c-primary, 0.3);
		height: calc(100% + #{$m-medium});
		position: absolute;
		transition: 0.6s box-shadow ease-out;
		width: 100%;
	}

	.post-body {
		height: 100%;
		min-height: rem(600);
		overflow: hidden;
		position: relative;
		width: 100%;
	}

	.post-thumbnail,
	.card-content {
		background-color: rgba($c-white, 0.96);
		display: inline-flex;
		height: 100%;
		position: absolute;
		width: 100%;
	}

	.post-thumbnail {
		height: 100%;
		line-height: 0;
		padding: 0;
	}

	.inspire-thumb {
		object-fit: cover;
		object-position: center top;
		width: 100%;
	}

	.post-footer {
		align-items: center;
		background-color: $c-international-orange;
		border-radius: 0 0 $bdr-rounded-corners $bdr-rounded-corners;
		bottom: rem(-16);
		display: inline-flex;
		min-height: rem(100);
		padding: $p-xbig;
		position: absolute;
		transition: 0.6s background-color ease-out;
		width: 100%;
		z-index: 200;

		.inspiration-title {
			font-size: rem(28);
			text-shadow: 0 rem(1) rem(4) rgba($c-black, 0.18);
			width: 100%;
		}

		.icon {
			display: block;
			height: rem(36);
			justify-self: flex-end;
			margin-left: $p-medium;
			text-indent: rem(-9999);
			width: rem(36);

			&-link {
				background: url( '../img/link-white.svg' ) center no-repeat;
			}
		}
	}

	.card-content {
		border-radius: $bdr-rounded-corners;
		display: flex;
		flex-flow: column;
		padding: rem(88) rem(32) rem(32);
		top: 100%;
		transition: top 0.2s ease-in;
		z-index: 99;

		.card-meta {
			align-items: center;
			display: flex;
			justify-content: space-between;
		}

		.card-heart {
			.like-this {
				align-items: center;
				border: 0;
				color: $c-international-orange;
				display: flex;
				flex-direction: column;
				font-size: rem(22);
				height: 100%;
				margin-left: rem(12);

				.icon {
					height: rem(50);
					position: relative;
					width: rem(55);
				}

				svg {
					left: 0;
					position: absolute;
					top: 0;
					transition: transform 0.2s ease;
				}

				&:hover {
					svg {
						transform: scale(1.05);
					}
				}
			}

			.icon-heart {
				margin: 0 0 rem(12);
				width: rem(51);
			}
		}

		.card-links {
			.icon {
				height: rem(36);
				margin-right: $p-big;
				width: rem(36);
			}

			& > div:not(:last-child) {
				margin-bottom: rem(12);
			}

			a {
				align-items: center;
				color: $c-primary;
				display: flex;
				font-size: rem(16);
				word-break: break-word;
			}
		}
	}

	a:not(.taxonomy-link),
	.inspiration-title {
		color: $c-white;
	}

	&:hover {
		margin-bottom: $m-huge;
		margin-top: $m-large;

		.card-content {
			top: rem(-1);
		}

		.card-shadow {
			box-shadow: 0 rem(4) rem(6) rem(3) rgba($c-primary, 0.3),
			0 rem(16) rem(32) rgba($c-primary, 0.6);
		}
	} // .card:hover
}
