.card {
	display: flex;
	flex-flow: column wrap;
	margin-bottom: $m-large;
	margin-top: $m-huge;
	perspective: 1000px;
	position: relative;
	transition: 0.25s margin ease-out;

	&,
	.post-body,
	.inspire-thumb {
		border-radius: $bdr-rounded-corners $bdr-rounded-corners 0 0;
	}

	.card-shadow {
		border-radius: $bdr-rounded-corners;
		// box-shadow: 0 rem(6) rem(24) rgba($c-niagara, 0.2);
		box-shadow: 0 rem(4) rem(12) rgba($c-niagara, 0.3);
		height: calc(100% + #{$m-medium});
		position: absolute;
		transition: 0.6s box-shadow ease-out;
		width: 100%;
	}

	.post-body {
		height: 100%;
		min-height: rem(600);
		overflow: hidden;
		position: relative;
		width: 100%;
	}

	.post-thumbnail,
	.card-content {
		background-color: rgba($c-white, 0.96);
		display: inline-flex;
		height: 100%;
		position: absolute;
		width: 100%;
	}

	.post-thumbnail {
		height: auto;
		line-height: 0;
	}

	.inspire-thumb {
		object-fit: cover;
		object-position: center top;
		width: 100%;
	}

	.post-footer {
		background-color: $c-international-orange;
		border-radius: 0 0 $bdr-rounded-corners $bdr-rounded-corners;
		bottom: rem(-16);
		min-height: rem(100);
		padding: $p-big;
		position: absolute;
		width: 100%;
		z-index: 200;
	}

	.card-content {
		border-radius: $bdr-rounded-corners;
		display: flex;
		flex-flow: column;
		padding: rem(32);
		top: 100%;
		transition: top 0.2s ease-in;
		z-index: 99;
	}

	a:not(.tax-link),
	.inspiration-title {
		color: $c-white;
	}

	&:hover {
		margin-bottom: $m-huge;
		margin-top: $m-large;


		.card-content {
			top: rem(-1);
		}

		.card-shadow {
			box-shadow: 0 rem(12) rem(32) rgba($c-niagara, 0.5);
		}
	}
}
