/**
 * Reset
 */
html,
body,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
samp,
small,
strong,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

article,
aside,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/**
 *  MAIN RULES
 */
*,
*::after,
*::before {
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: #fff;
  min-height: 100%;
  overflow-x: hidden;
  position: relative;
}

p {
  font-weight: normal;
  margin-bottom: 1.5em;
}

img {
  height: auto;
  max-width: 100%;
}

strong {
  font-weight: 500;
}

ul {
  margin-bottom: 1em;
}

li {
  list-style: none;
  margin-bottom: 0.5em;
}

.bg-primary {
  background-color: #069fa6;
}
.bg-dark {
  background-color: #18232f;
}
.bg-secondary {
  background-color: #fd5200;
}
.bg-tertiary {
  background-color: #ffb400;
}
.bg-white {
  background-color: #fff;
}
.bg-success {
  background-color: #4caf50;
}
.bg-info {
  background-color: #5bc0de;
}
.bg-warning {
  background-color: #f0ad4e;
}
.bg-error {
  background-color: #e74c3c;
}
.bg-gray {
  background-color: #aaa;
}
.bg-gray-light {
  background-color: #eceff1;
}
.bg-tax-beige {
  background-color: beige;
  transition: 0.3s background-color ease;
}
.bg-tax-beige:hover {
  background-color: #fefefc;
}
.bg-tax-black {
  background-color: black;
  transition: 0.3s background-color ease;
}
.bg-tax-black:hover {
  background-color: #141414;
}
.bg-tax-blue {
  background-color: dodgerblue;
  transition: 0.3s background-color ease;
}
.bg-tax-blue:hover {
  background-color: #47a4ff;
}
.bg-tax-brown {
  background-color: saddlebrown;
  transition: 0.3s background-color ease;
}
.bg-tax-brown:hover {
  background-color: #af5718;
}
.bg-tax-burgundy {
  background-color: firebrick;
  transition: 0.3s background-color ease;
}
.bg-tax-burgundy:hover {
  background-color: #d42929;
}
.bg-tax-darkblue {
  background-color: navy;
  transition: 0.3s background-color ease;
}
.bg-tax-darkblue:hover {
  background-color: #0000a9;
}
.bg-tax-green {
  background-color: green;
  transition: 0.3s background-color ease;
}
.bg-tax-green:hover {
  background-color: #00a900;
}
.bg-tax-grey {
  background-color: grey;
  transition: 0.3s background-color ease;
}
.bg-tax-grey:hover {
  background-color: #949494;
}
.bg-tax-khaki {
  background-color: khaki;
  transition: 0.3s background-color ease;
}
.bg-tax-khaki:hover {
  background-color: #f5eeb0;
}
.bg-tax-lime {
  background-color: limegreen;
  transition: 0.3s background-color ease;
}
.bg-tax-lime:hover {
  background-color: #53d553;
}
.bg-tax-maroon {
  background-color: maroon;
  transition: 0.3s background-color ease;
}
.bg-tax-maroon:hover {
  background-color: #a90000;
}
.bg-tax-mediumblue {
  background-color: mediumblue;
  transition: 0.3s background-color ease;
}
.bg-tax-mediumblue:hover {
  background-color: #0000f6;
}
.bg-tax-orange {
  background-color: darkorange;
  transition: 0.3s background-color ease;
}
.bg-tax-orange:hover {
  background-color: #ff9e29;
}
.bg-tax-pink {
  background-color: hotpink;
  transition: 0.3s background-color ease;
}
.bg-tax-pink:hover {
  background-color: #ff92c8;
}
.bg-tax-purple {
  background-color: purple;
  transition: 0.3s background-color ease;
}
.bg-tax-purple:hover {
  background-color: #a900a9;
}
.bg-tax-red {
  background-color: red;
  transition: 0.3s background-color ease;
}
.bg-tax-red:hover {
  background-color: #ff2929;
}
.bg-tax-teal {
  background-color: teal;
  transition: 0.3s background-color ease;
}
.bg-tax-teal:hover {
  background-color: #00a9a9;
}
.bg-tax-turquoise {
  background-color: turquoise;
  transition: 0.3s background-color ease;
}
.bg-tax-turquoise:hover {
  background-color: #63e6d9;
}
.bg-tax-white {
  background-color: white;
  transition: 0.3s background-color ease;
}
.bg-tax-white:hover {
  background-color: white;
}
.bg-tax-yellow {
  background-color: gold;
  transition: 0.3s background-color ease;
}
.bg-tax-yellow:hover {
  background-color: #ffdd29;
}

.color-primary {
  color: #069fa6;
}
.color-dark {
  color: #18232f;
}
.color-secondary {
  color: #fd5200;
}
.color-tertiary {
  color: #ffb400;
}
.color-white {
  color: #fff;
}
.color-success {
  color: #4caf50;
}
.color-info {
  color: #5bc0de;
}
.color-warning {
  color: #f0ad4e;
}
.color-error {
  color: #e74c3c;
}
.color-gray {
  color: #aaa;
}
.color-gray-light {
  color: #eceff1;
}
.color-tax-beige {
  color: beige !important;
  transition: 0.3s background-color ease;
}
.color-tax-beige:hover {
  color: #fefefc;
}
.color-tax-black {
  color: black !important;
  transition: 0.3s background-color ease;
}
.color-tax-black:hover {
  color: #141414;
}
.color-tax-blue {
  color: dodgerblue !important;
  transition: 0.3s background-color ease;
}
.color-tax-blue:hover {
  color: #47a4ff;
}
.color-tax-brown {
  color: saddlebrown !important;
  transition: 0.3s background-color ease;
}
.color-tax-brown:hover {
  color: #af5718;
}
.color-tax-burgundy {
  color: firebrick !important;
  transition: 0.3s background-color ease;
}
.color-tax-burgundy:hover {
  color: #d42929;
}
.color-tax-darkblue {
  color: navy !important;
  transition: 0.3s background-color ease;
}
.color-tax-darkblue:hover {
  color: #0000a9;
}
.color-tax-green {
  color: green !important;
  transition: 0.3s background-color ease;
}
.color-tax-green:hover {
  color: #00a900;
}
.color-tax-grey {
  color: grey !important;
  transition: 0.3s background-color ease;
}
.color-tax-grey:hover {
  color: #949494;
}
.color-tax-khaki {
  color: khaki !important;
  transition: 0.3s background-color ease;
}
.color-tax-khaki:hover {
  color: #f5eeb0;
}
.color-tax-lime {
  color: limegreen !important;
  transition: 0.3s background-color ease;
}
.color-tax-lime:hover {
  color: #53d553;
}
.color-tax-maroon {
  color: maroon !important;
  transition: 0.3s background-color ease;
}
.color-tax-maroon:hover {
  color: #a90000;
}
.color-tax-mediumblue {
  color: mediumblue !important;
  transition: 0.3s background-color ease;
}
.color-tax-mediumblue:hover {
  color: #0000f6;
}
.color-tax-orange {
  color: darkorange !important;
  transition: 0.3s background-color ease;
}
.color-tax-orange:hover {
  color: #ff9e29;
}
.color-tax-pink {
  color: hotpink !important;
  transition: 0.3s background-color ease;
}
.color-tax-pink:hover {
  color: #ff92c8;
}
.color-tax-purple {
  color: purple !important;
  transition: 0.3s background-color ease;
}
.color-tax-purple:hover {
  color: #a900a9;
}
.color-tax-red {
  color: red !important;
  transition: 0.3s background-color ease;
}
.color-tax-red:hover {
  color: #ff2929;
}
.color-tax-teal {
  color: teal !important;
  transition: 0.3s background-color ease;
}
.color-tax-teal:hover {
  color: #00a9a9;
}
.color-tax-turquoise {
  color: turquoise !important;
  transition: 0.3s background-color ease;
}
.color-tax-turquoise:hover {
  color: #63e6d9;
}
.color-tax-white {
  color: white !important;
  transition: 0.3s background-color ease;
}
.color-tax-white:hover {
  color: white;
}
.color-tax-yellow {
  color: gold !important;
  transition: 0.3s background-color ease;
}
.color-tax-yellow:hover {
  color: #ffdd29;
}

/**
 *  BORDER
 */
.border {
  border: 1px solid #a8dbdd;
}

.border-bottom {
  border-bottom: 1px solid #a8dbdd;
}

.border-left {
  border-left: 1px solid #a8dbdd;
}

.border-right {
  border-right: 1px solid #a8dbdd;
}

.border-top {
  border-top: 1px solid #a8dbdd;
}

/**
 *  ALIGNERS
 */
.aligner {
  display: flex;
}
.aligner--spaceBetween {
  justify-content: space-between;
  width: 100%;
}
.aligner--spaceAround {
  justify-content: space-around;
  width: 100%;
}
.aligner--centerVertical {
  align-items: center;
}
.aligner--centerHoritzontal {
  justify-content: center;
}
.aligner--contentStart {
  justify-content: flex-start;
}
.aligner--contentEnd {
  justify-content: flex-end;
}

.aligner--itemTop {
  align-self: flex-start;
}

.aligner--itemBottom {
  align-self: flex-end;
}

.flex-grow,
.aligner--grow {
  flex-grow: 1;
}

/**
 *  FLOATS
 */
.fleft {
  float: left;
}

.fright {
  float: right;
}

.clearfix ::after {
  clear: both;
  content: "";
  display: table;
}

/**
 *  MARGINS
 */
.m-xsmall {
  margin: 4px;
}

.mb-xsmall {
  margin-bottom: 4px;
}

.m-small {
  margin: 8px;
}

.mb-small {
  margin-bottom: 8px;
}

.m-medium {
  margin: 16px;
}

.mb-medium {
  margin-bottom: 16px;
}

.m-big {
  margin: 32px;
}

.mb-big {
  margin-bottom: 32px;
}

.m-huge {
  margin: 48px;
}

.mb-huge {
  margin-bottom: 48px;
}

.m-none {
  margin: 0 !important;
}

/**
 *  PADDINGS
 */
.p-small {
  padding: 4px;
}

.pb-small {
  padding-bottom: 4px;
}

.p-medium {
  padding: 8px;
}

.pb-medium {
  padding-bottom: 8px;
}

.p-big {
  padding: 16px;
}

.pb-big {
  padding-bottom: 16px;
}

.p-huge {
  padding: 32px;
}

.pb-huge {
  padding-bottom: 32px;
}

/**
 *  OTHERS
 */
.no-wrap {
  white-space: nowrap;
}

.overflow-hidden {
  overflow: hidden;
}

.opacity-low {
  opacity: 0.5;
}

.rounded-corners {
  border-radius: 16px;
}

.rounded {
  border-radius: 100%;
}

/**
 * LAYOUT
 */
.section {
  padding-bottom: 32px;
  padding-top: 32px;
}
@media (min-width: 768px) {
  .section {
    padding-bottom: 64px;
    padding-top: 64px;
  }
}
.section + .section {
  padding-top: 0;
}

.container {
  background-color: transparent;
  margin: 0 auto;
  max-width: 1380px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}
@media (min-width: 768px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.container-medium {
  margin: 0 auto;
  max-width: 944px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .container-medium {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.container-small {
  margin: 0 auto;
  max-width: 400px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .container-small {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.main-navigation,
.footer-navigation {
  display: inline-flex;
  justify-content: flex-end;
  width: 100%;
}
.main-navigation .menu-item,
.footer-navigation .menu-item {
  margin: 0 0 0 40px;
}

.menu {
  align-items: center;
  display: inline-flex;
  justify-self: flex-end;
  margin: 0;
}

.footer-navigation a,
.footer-navigation a:visited {
  color: #fff;
  padding: 8px;
  transition: 0.3s opacity ease;
}
.footer-navigation a:hover,
.footer-navigation a:active {
  color: #fff;
  opacity: 0.7;
}

body {
  color: #444;
  font-family: "Quicksand", "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5em;
}

a {
  color: #fd5200;
  text-decoration: none;
}
a:hover {
  color: #ff9664;
}
a:hover, a:active {
  outline: 0;
}
a:focus {
  color: #069fa6;
  outline-style: dotted;
  outline-width: thin;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
  line-height: 1.1;
}

h1 {
  font-size: 48px;
}

h2,
.text-huge {
  font-size: 36px;
}

h3,
.text-big {
  font-size: 24px;
}

h4,
.text-medium {
  font-size: 18px;
}

.text-huge, .text-big, .text-medium {
  margin-bottom: 1em;
}
.text-small {
  font-size: 12px;
  line-height: 1.3em;
}
.text-body {
  font-size: 18px;
  line-height: 1.5em;
}

sup,
sub {
  font-size: 12px;
  line-height: 12px;
}

.text-primary {
  color: #069fa6;
}
.text-dark {
  color: #18232f;
}
.text-secondary {
  color: #fd5200;
}
.text-tertiary {
  color: #ffb400;
}
.text-white {
  color: #fff;
}
.text-success {
  color: #4caf50;
}
.text-info {
  color: #5bc0de;
}
.text-warning {
  color: #f0ad4e;
}
.text-error {
  color: #e74c3c;
}
.text-gray {
  color: #aaa;
}
.text-gray-light {
  color: #eceff1;
}

.text-light {
  font-weight: 300;
}

.text-normal {
  font-weight: 400;
}

.text-linethrough {
  text-decoration: line-through;
}

.text-italic {
  font-style: italic;
}

.text-underline {
  text-decoration: underline;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-withsubtitle {
  margin-bottom: 0;
}
.text-withsubtitle + .text-huge,
.text-withsubtitle + .text-big,
.text-withsubtitle + .text-medium,
.text-withsubtitle + .text-small {
  margin-top: 0.5em;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  -webkit-clip-path: none;
          clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

#content[tabindex="-1"]:focus {
  outline: 0;
}

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear::before,
.clear::after,
.entry-content::before,
.entry-content::after,
.comment-content::before,
.comment-content::after,
.site-header::before,
.site-header::after,
.site-content::before,
.site-content::after,
.site-footer::before,
.site-footer::after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear::after,
.entry-content::after,
.comment-content::after,
.site-header::after,
.site-content::after,
.site-footer::after {
  clear: both;
}

.widget {
  margin: 0 0 1.5em;
}

.widget select {
  max-width: 100%;
}

.sticky {
  display: block;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

embed,
iframe,
object {
  max-width: 100%;
}

.custom-logo-link {
  display: inline-block;
}

.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*=wp-image-] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.wp-caption-text {
  text-align: center;
}

.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-caption {
  display: block;
}

.heartbeat {
  animation: heartbeat 1.5s ease-in-out both;
}
@keyframes heartbeat {
  from {
    -webkit-animation-timing-function: ease-out;
    -webkit-transform: scale(1);
    -webkit-transform-origin: center center;
    animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
  }
  10% {
    -webkit-animation-timing-function: ease-in;
    -webkit-transform: scale(0.91);
    animation-timing-function: ease-in;
    transform: scale(0.91);
  }
  17% {
    -webkit-animation-timing-function: ease-out;
    -webkit-transform: scale(0.98);
    animation-timing-function: ease-out;
    transform: scale(0.98);
  }
  33% {
    -webkit-animation-timing-function: ease-in;
    -webkit-transform: scale(0.87);
    animation-timing-function: ease-in;
    transform: scale(0.87);
  }
  45% {
    -webkit-animation-timing-function: ease-out;
    -webkit-transform: scale(1);
    animation-timing-function: ease-out;
    transform: scale(1);
  }
}
/**
 *  BADGE
 *
 *  Markup:
 *  -------
 *
 *  <ul>
 *    <li class="badge badge--primary">Badge 1</li>
 *    <li class="badge badge--secondary badge--big">Badge 1</li>
 *  </ul>
 *
 */
.badge {
  background-color: #eceff1;
  border-radius: 8px;
  color: #444;
  display: inline-block;
  line-height: 1.2em;
  padding: 8px 16px;
}
.badge--big {
  font-size: 1.3em;
}
.badge--small {
  font-size: 0.7em;
}
.badge--primary {
  background-color: #069fa6;
  color: #fff;
}
.badge--secondary {
  background-color: #fd5200;
  color: #fff;
}
.badge--dark {
  background-color: #18232f;
  color: #fff;
}
.badge--light {
  background-color: #aaa;
  color: #fff;
}
.badge--success {
  background-color: #4caf50;
  color: #fff;
}
.badge--error {
  background-color: #e74c3c;
  color: #fff;
}
.badge--warning {
  background-color: #f0ad4e;
  color: #fff;
}

/**
 *  BUTTON
 *
 *  Markup:
 *  -------
 *
 *  <button class="button">Default</button>
 *  <button class="button button--big">Button big</button>
 *  <button class="button button--secondary">Button secondary</button>
 *
 */
button {
  background-color: transparent;
  cursor: pointer;
}

.button,
.submit {
  background-color: #069fa6;
  border: 0;
  border-radius: 200px;
  color: #fff;
  display: inline-block;
  font-family: "Quicksand", "Lato", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5em;
  margin: 0 8px 16px 8px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: opacity 0.2s ease, background-color 0.3s ease;
  white-space: nowrap;
}
.button[type=submit],
.submit[type=submit] {
  background-color: #fd5200;
}
.button:focus, .button:hover, .button:active,
.submit:focus,
.submit:hover,
.submit:active {
  color: #fff;
}
.button:hover,
.submit:hover {
  background-color: rgba(6, 159, 166, 0.8);
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
.button:active,
.submit:active {
  opacity: 1;
}
.button:first-child,
.submit:first-child {
  margin-left: 0;
}
.button:last-child,
.submit:last-child {
  margin-right: 0;
}
.button--big,
.submit--big {
  font-size: 24px;
  padding: 16px 32px;
}
.button--small,
.submit--small {
  font-size: 12px;
  padding: 4px 16px;
}
@media (max-width: 1023px) {
  .button--mobilefull,
.submit--mobilefull {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}
.button--secondary,
.submit--secondary {
  background-color: #fd5200;
  color: #fff;
}
.button--secondary:hover,
.submit--secondary:hover {
  background-color: rgba(253, 82, 0, 0.8);
  color: #fff;
}
.button--white,
.submit--white {
  background-color: #fff;
  color: #069fa6;
}
.button--white:hover,
.submit--white:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: rgba(6, 159, 166, 0.8);
}
.button--green,
.submit--green {
  background-color: #4caf50;
  color: #fff;
}
.button--green:hover,
.submit--green:hover {
  background-color: rgba(76, 175, 80, 0.8);
  color: #fff;
}
.button--red,
.submit--red {
  background-color: #e74c3c;
  color: #fff;
}
.button--red:hover,
.submit--red:hover {
  background-color: rgba(231, 76, 60, 0.8);
  color: #fff;
}
.button--transparent,
.submit--transparent {
  background-color: transparent;
  color: #069fa6;
}
.button--transparent:active, .button--transparent:hover, .button--transparent:focus,
.submit--transparent:active,
.submit--transparent:hover,
.submit--transparent:focus {
  background-color: transparent;
  color: rgba(6, 159, 166, 0.8);
  opacity: 0.8;
}
.button--outlined,
.submit--outlined {
  background-color: transparent;
  border: 1px solid #a8dbdd;
  color: #069fa6;
}
.button--outlined:active, .button--outlined:hover, .button--outlined:focus,
.submit--outlined:active,
.submit--outlined:hover,
.submit--outlined:focus {
  background-color: transparent;
  color: rgba(6, 159, 166, 0.8);
  opacity: 0.8;
}

.card {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 24px;
  margin-top: 48px;
  perspective: 1000px;
  position: relative;
  transition: 0.25s margin ease-out;
}
.card,
.card .post-body,
.card .inspire-thumb {
  border-radius: 16px 16px 0 0;
}
.card .card-shadow {
  border-radius: 16px;
  box-shadow: 0 0.25rem 0.75rem rgba(6, 159, 166, 0.3);
  height: calc(100% + 16px);
  position: absolute;
  transition: 0.6s box-shadow ease-out;
  width: 100%;
}
.card .post-body {
  height: 100%;
  min-height: 37.5rem;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.card .post-thumbnail,
.card .card-content {
  background-color: rgba(255, 255, 255, 0.96);
  display: inline-flex;
  height: 100%;
  position: absolute;
  width: 100%;
}
.card .post-thumbnail {
  height: 100%;
  line-height: 0;
}
.card .inspire-thumb {
  object-fit: cover;
  object-position: center top;
  width: 100%;
}
.card .post-footer {
  align-items: center;
  background-color: #fd5200;
  border-radius: 0 0 16px 16px;
  bottom: -1rem;
  display: inline-flex;
  min-height: 6.25rem;
  padding: 24px;
  position: absolute;
  transition: 0.6s background-color ease-out;
  width: 100%;
  z-index: 200;
}
.card .post-footer .inspiration-title {
  font-size: 1.75rem;
  text-shadow: 0 0.0625rem 0.25rem rgba(0, 0, 0, 0.18);
  width: 100%;
}
.card .post-footer .icon {
  display: block;
  height: 2.25rem;
  justify-self: flex-end;
  margin-left: 8px;
  text-indent: -624.9375rem;
  width: 2.25rem;
}
.card .post-footer .icon-link {
  background: url("../img/link-white.svg") center no-repeat;
}
.card .card-content {
  border-radius: 16px;
  display: flex;
  flex-flow: column;
  padding: 5.5rem 2rem 2rem;
  top: 100%;
  transition: top 0.2s ease-in;
  z-index: 99;
}
.card .card-content .card-meta {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.card .card-content .card-heart .like-this {
  align-items: center;
  border: 0;
  color: #fd5200;
  display: flex;
  flex-direction: column;
  font-size: 1.375rem;
  height: 100%;
  margin-left: 0.75rem;
}
.card .card-content .card-heart .like-this .icon {
  height: 3.125rem;
  position: relative;
  width: 3.4375rem;
}
.card .card-content .card-heart .like-this svg {
  left: 0;
  position: absolute;
  top: 0;
  transition: transform 0.2s ease;
}
.card .card-content .card-heart .like-this:hover svg {
  transform: scale(1.05);
}
.card .card-content .card-heart .icon-heart {
  margin: 0 0 0.75rem;
  width: 3.1875rem;
}
.card .card-content .card-links .icon {
  height: 2.25rem;
  margin-right: 16px;
  width: 2.25rem;
}
.card .card-content .card-links > div:not(:last-child) {
  margin-bottom: 0.75rem;
}
.card .card-content .card-links a {
  align-items: center;
  color: #069fa6;
  display: flex;
  font-size: 1rem;
  word-break: break-word;
}
.card .card-content .taxonomy-list {
  display: inline-flex;
  width: 100%;
}
.card .card-content .taxonomy-list .taxonomy-item {
  margin: 0 8px 0 0;
}
.card .card-content .taxonomy-list .taxonomy-link {
  color: #aaa;
  font-size: 1rem;
  transition: 0.4s color ease;
}
.card .card-content .taxonomy-list .taxonomy-link:hover {
  color: #fd5200;
}
.card .card-content .list-colors {
  display: inline-flex;
  margin: 0;
  padding: 0;
}
.card .card-content .list-colors .taxonomy-item,
.card .card-content .list-colors .taxonomy-link {
  border-radius: 8px;
  height: 2.5rem;
  margin: 0 0.75rem 0 0;
  width: 2.5rem;
}
.card .card-content .list-colors .taxonomy-link {
  color: inherit;
  display: block;
  font-size: 0.375rem;
}
.card .card-content .taxonomies-wrap {
  border-top: 0.125rem solid #bee4e6;
  margin: 24px 0 0 3.25rem;
  padding-top: 24px;
}
.card .card-content .taxonomy-wrap {
  margin-bottom: 16px;
}
.card .card-content .taxonomy-title {
  color: #cfcfcf;
  font-size: 0.625rem;
  line-height: 0.625rem;
  text-transform: uppercase;
}
.card a:not(.taxonomy-link),
.card .inspiration-title {
  color: #fff;
}
.card:hover {
  margin-bottom: 48px;
  margin-top: 24px;
}
.card:hover .card-content {
  top: -0.0625rem;
}
.card:hover .card-shadow {
  box-shadow: 0 0.25rem 0.375rem 0.1875rem rgba(6, 159, 166, 0.3), 0 1rem 2rem rgba(6, 159, 166, 0.6);
}

/**
 *  FORMS
 *
 *  Markup:
 *  ---------
 *  <div class="input input-fullWidth">
 *    <input id="#" placeholder="#" type="text">
 *  </div>
 *
 *  <div class="select select-fullWidth">
 *    <select name="#" id="#">
 *      <option>Option 1</option>
 *      <option>Option 2</option>
 *    </select>
 *  </div>
 *
 *  <div class="textarea">
 *    <textarea id="#"></textarea>
 *  </div>
 *
 *  <div class="radio">
 *    <input id="#" name="#" type="radio" value="">
 *    <label for="#">Radio button</label>
 *  </div>
 *
 *  <div class="checkbox">
 *    <input id="#" name="#" type="checkbox" value="">
 *    <label for="#">Checkbox</label>
 *  </div>
 */
input,
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

label {
  display: block;
  font-weight: normal;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 62.5rem #fff inset;
}

.textarea,
.input,
.select {
  border: 1px solid #a8dbdd;
  border-radius: 24px;
  box-shadow: none;
  display: inline-block;
  font-weight: normal;
  margin-bottom: 20px;
  overflow: hidden;
}
.textarea :focus,
.input :focus,
.select :focus {
  outline: none;
}
.textarea.has-error,
.input.has-error,
.select.has-error {
  background: #fff;
  border: 1px solid #e74c3c;
  margin-bottom: 0;
}

.select {
  background-color: #fff;
  border-radius: 24px;
  display: inline-block;
  margin: 0 16px 0 0;
  padding: 4px 16px;
  position: relative;
}
.select:last-child {
  margin-right: 0;
}
.select-fullWidth {
  display: block;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
.select select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 0;
  color: #444;
  display: block;
  font-size: 12px;
  line-height: 1.5em;
  margin-right: 16px;
  padding: 0;
  padding-right: 16px;
  transition: background-color 0.2s ease-in-out;
  width: 100%;
}
.select select:active, .select select:focus {
  background-color: white;
  border: 0;
  outline: none;
}
.select select::-ms-expand {
  display: none;
}
.select::after, .select::before {
  background: #069fa6;
  content: "";
  display: block;
  height: 0.125rem;
  margin-top: 2px;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform-origin: 1px;
  width: 0.5rem;
}
.select::after {
  transform: rotate(-135deg);
}
.select::before {
  transform: rotate(-45deg);
}

.textarea {
  background-color: #fff;
  padding: 0;
}
.textarea-fullWidth {
  display: block;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
.textarea textarea {
  background: transparent;
  border: 0;
  color: #444;
  display: block;
  font-family: "Quicksand", "Lato", sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  margin: 0;
  min-height: 120px;
  padding: 4px 16px;
  transition: background-color 0.2s ease-in-out;
  width: 100%;
}
.textarea textarea::placeholder {
  color: #aaa;
}
.textarea textarea:focus, .textarea textarea:active {
  background-color: white;
  border: 0;
  outline: none;
}

.checkbox {
  margin-bottom: 8px;
  position: relative;
}
.checkbox input[type=checkbox] {
  display: none;
}
.checkbox input[type=checkbox]:checked + label::after {
  animation: checkboxAndRadioAnimation 0.25s;
  content: "";
  transform: scale(1) rotate(45deg);
}
.checkbox input[type=checkbox] + label {
  display: block;
  overflow: hidden;
  padding-left: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.checkbox input[type=checkbox] + label::before {
  background-color: #fff;
  border: 1px solid #a8dbdd;
  border-radius: 8px;
  content: "";
  display: inline-block;
  height: 1.25rem;
  left: 0;
  margin-top: -10px;
  position: absolute;
  top: 50%;
  width: 1.25rem;
}
.checkbox input[type=checkbox] + label::after {
  border-bottom: 3px solid #069fa6;
  border-right: 3px solid #069fa6;
  display: block;
  height: 0.75rem;
  left: 11px;
  margin-left: -4px;
  margin-top: -7px;
  position: absolute;
  top: 50%;
  width: 0.4375rem;
  z-index: 1;
}

.radio {
  margin-bottom: 8px;
  position: relative;
}
.radio input[type=radio] {
  display: none;
}
.radio input[type=radio]:checked + label::after {
  animation: checkboxAndRadioAnimation 0.25s;
  content: "";
  transform: scale(1) rotate(45deg);
}
.radio input[type=radio] + label {
  display: block;
  overflow: hidden;
  padding-left: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.radio input[type=radio] + label::before {
  background-color: #fff;
  border: 1px solid #a8dbdd;
  border-radius: 20px;
  content: "";
  display: inline-block;
  height: 1.25rem;
  left: 0;
  margin-top: -10px;
  position: absolute;
  top: 50%;
  width: 1.25rem;
}
.radio input[type=radio] + label::after {
  background-color: #069fa6;
  border-radius: 20px;
  display: block;
  height: 0.625rem;
  left: 11px;
  margin-left: -6px;
  margin-top: -6px;
  position: absolute;
  top: 13px;
  width: 0.625rem;
  z-index: 1;
}

@keyframes checkboxAndRadioAnimation {
  0% {
    transform: scale(0) rotate(45deg);
  }
  50% {
    transform: scale(1.5) rotate(45deg);
  }
  100% {
    transform: scale(1) rotate(45deg);
  }
}
.input {
  background-color: #fff;
  margin-right: 10px;
  padding: 0;
  position: relative;
}
.input :focus,
.input :active {
  background-color: white;
  border-radius: 24px;
}
.input input {
  background: transparent;
  border: 0;
  box-shadow: none;
  color: #444;
  font-size: 18px;
  line-height: 1.5em;
  margin: 0;
  outline: none;
  padding: 4px 16px;
  width: 100%;
}
.input input::placeholder {
  color: #aaa;
}
.input-withIcon input {
  padding-right: 32px;
}
.input-icon {
  fill: #aaa;
  height: 16px;
  margin-top: -8px;
  position: absolute;
  right: 16px;
  top: 50%;
  width: 16px;
}
.input-fullWidth {
  display: block;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

/**
 *  FORM COLLAPSED (items in row without gap between them)
 *
 *  Markup:
 *  -------
 *
 *  <div class="formCollapsed">
 *    <div class="input formCollapsed-item formCollapsed-itemPrimary">
 *      <input id="name" placeholder="Klingon search" type="text" />
 *    </div>
 *    <div class="select formCollapsed-item">
 *      <select name="country-code" id="country-code">
 *        <option value="AO"> Angola</option>
 *      </select>
 *    </div>
 *    <button class="formCollapsed-item button button-primary">
 *      Search
 *    </button>
 *  </div>
 **/
.formCollapsed {
  display: flex;
  margin-bottom: 20px;
}
.formCollapsed-item {
  border-radius: 0 !important;
  margin: 0 !important;
}
.formCollapsed-item:first-child {
  border-bottom-left-radius: 24px !important;
  border-top-left-radius: 24px !important;
}
.formCollapsed-item:last-child {
  border-bottom-right-radius: 24px !important;
  border-top-right-radius: 24px !important;
}
.formCollapsed-item:not(:last-child) {
  border-right: 0;
}
.formCollapsed-itemPrimary {
  flex: 1;
}

/**
 *  LOADING BAR
 *
 *  Markup:
 *  ---------
 *  <div class="loadingBar"></div>
 *
 */
.loadingBar {
  height: 6px;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.loadingBar::before {
  animation: loading 2s linear infinite;
  background-color: #069fa6;
  content: "";
  display: block;
  height: 6px;
  left: -300px;
  position: absolute;
  width: 300px;
}

@keyframes loading {
  from {
    left: -300px;
    width: 30%;
  }
  50% {
    width: 30%;
  }
  70% {
    width: 70%;
  }
  80% {
    left: 50%;
  }
  95% {
    left: 120%;
  }
  to {
    left: 100%;
  }
}
/**
 *  LOADING SPINNER
 *
 *  Markup:
 *  ---------
 *  <div class='loadingSpinner'>
 *    <span class='loadingSpinner-inner'></span>
 *    <span class='loadingSpinner-inner'></span>
 *    <span class='loadingSpinner-inner'></span>
 *    <span class='loadingSpinner-inner'></span>
 *  </div>
 *
 */
.loadingSpinner {
  animation: rotateLoader 4s infinite;
  animation-timing-function: ease-in-out;
  display: block;
  height: 30px;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  position: fixed;
  top: 50%;
  width: 30px;
  z-index: 1000;
}
.loadingSpinner-inner {
  animation-timing-function: ease-in-out;
  background-color: #fd5200;
  border-radius: 100%;
  display: block;
  height: 9px;
  position: absolute;
  width: 9px;
}
.loadingSpinner-inner:nth-child(1) {
  animation: translateBall1 1s infinite;
  left: 0;
  top: 0;
  transform: translate3d(4.5px, 4.5px, 0);
}
.loadingSpinner-inner:nth-child(2) {
  animation: translateBall2 1s infinite;
  right: 0;
  top: 0;
}
.loadingSpinner-inner:nth-child(3) {
  animation: translateBall3 1s infinite;
  bottom: 0;
  right: 0;
}
.loadingSpinner-inner:nth-child(4) {
  animation: translateBall4 1s infinite;
  bottom: 0;
  left: 0;
}

@keyframes rotateLoader {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes translateBall1 {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(4.5px, 4.5px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes translateBall2 {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(-4.5px, 4.5px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes translateBall3 {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(-4.5px, -4.5px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes translateBall4 {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(4.5px, -4.5px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
/**
 *  NOTIFICATION
 *
 *  Markup:
 *  -------
 *
 *  <div class="notification notification--sucess">Success notification</div>
 *  <div class="notification notification--info">Success info</div>
 *  <div class="notification notification--error">Success error</div>
 *  <div class="notification notification--warning">Success warning</div>
 *
 */
.notification {
  border-radius: 8px;
  color: #fff;
  margin-bottom: 32px;
  padding: 16px;
}
.notification p:last-child {
  margin-bottom: 0;
}
.notification--primary {
  background-color: #069fa6;
}
.notification--dark {
  background-color: #18232f;
}
.notification--secondary {
  background-color: #fd5200;
}
.notification--tertiary {
  background-color: #ffb400;
}
.notification--white {
  background-color: #fff;
}
.notification--success {
  background-color: #4caf50;
}
.notification--info {
  background-color: #5bc0de;
}
.notification--warning {
  background-color: #f0ad4e;
}
.notification--error {
  background-color: #e74c3c;
}
.notification--gray {
  background-color: #aaa;
}
.notification--gray-light {
  background-color: #eceff1;
}

/**
 *  PAGINATOR
 *
 *  Markup:
 *  -------
 *
 *  <ul class="paginator">
 *    <li class="paginator-item">
 *      <a href="#" class="paginator-itemLink">< Prev</a>
 *    </li>
 *    <li class="paginator-item">
 *      <a href="#" class="paginator-itemLink">1</a>
 *    </li>
 *    <li class="paginator-item">
 *      <a href="#" class="paginator-itemLink is-active">2</a>
 *    </li>
 *    <li class="paginator-item">
 *      <a href="#" class="paginator-itemLink">3</a>
 *    </li>
 *    <li class="paginator-item">
 *      <a href="#" class="paginator-itemLink">Next ></a>
 *    </li>
 *  </ul>
 */
.paginator-item {
  display: inline-block;
  margin-right: 4px;
}
.paginator-itemLink {
  background-color: #eceff1;
  border-radius: 8px;
  display: block;
  padding: 8px 16px;
}
.paginator-itemLink.is-active {
  background-color: #069fa6;
  color: #fff;
  cursor: default;
}

/**
 *  TABLE
 *
 *  Markup:
 *  -------
 *
 *  <table class="table">
 *    <tr>
 *      <th>First column</th>
 *      <th>Second column</th>
 *      <th>Third column</th>
 *    </tr>
 *    <tr>
 *      <td="First column">Blue</td>
 *      <td="Second column">One</td>
 *      <td="Third column">My life fades</td>
 *    </tr>
 *  </table>
 *
 */
.table {
  background-color: #eceff1;
  border: 1px solid #a8dbdd;
  border-collapse: collapse;
  color: #444;
  max-width: 100%;
  width: 100%;
}
.table th,
.table td {
  border-bottom: 1px solid #a8dbdd;
  padding: 8px;
  position: relative;
}
.table thead {
  border-bottom: 1px solid #a8dbdd;
}
.table th {
  background-color: #fff;
  color: #aaa;
  font-size: 12px;
  font-weight: normal;
  padding: 8px;
  white-space: nowrap;
}

/**
 *  TABLE RESPONSIVE
 *
 *  Markup:
 *  -------
 *
 *  <table class="table table--responsive">
 *    <tr>
 *      <th>First column</th>
 *      <th>Second column</th>
 *      <th>Third column</th>
 *    </tr>
 *    <tr>
 *      <td data-th="First column">Blue</td>
 *      <td data-th="Second column">One</td>
 *      <td data-th="Third column">My life fades</td>
 *    </tr>
 *    <tr>
 *      <td data-th="First column">Green</td>
 *      <td data-th="Second column">Two</td>
 *      <td data-th="Third column">
 *        when the world was powered by the black fuel... and the desert
 *        sprouted great cities of pipe and steel.
 *      </td>
 *    </tr>
 *    <tr>
 *      <td data-th="First column">Yellow</td>
 *      <td data-th="Second column">Three</td>
 *      <td data-th="Third column">
 *        A whirlwind of looting, a firestorm of fear.
 *      </td>
 *    </tr>
 *  </table>
 *
 */
.table--responsive th {
  display: none;
}
.table--responsive td {
  display: block;
}
@media (max-width: 767px) {
  .table--responsive td {
    border: 0;
  }
}
.table--responsive td::before {
  color: #aaa;
  content: attr(data-th) ": ";
  display: block;
  font-weight: normal;
}
@media (min-width: 90%) {
  .table--responsive td::before {
    display: none;
  }
}
.table--responsive td:first-child {
  border-top: 1px solid #a8dbdd;
}
.table--responsive th,
.table--responsive td {
  text-align: left;
}
@media (min-width: 90%) {
  .table--responsive th,
.table--responsive td {
    border-top: 1px solid #a8dbdd;
    display: table-cell;
  }
}

/**
 *  TABS
 *
 *  Markup:
 *  -------
 *
 *  <div class="tabs">
 *    <a href="#" title="#" class="tabs-item">[...]</a>
 *    <a href="#" title="#" class="tabs-item is-selected">[...]</a>
 *  </div>
 *
 */
.tabs {
  border-bottom: 1px solid #a8dbdd;
  text-align: center;
}
.tabs-item {
  border-bottom: 3px solid transparent;
  color: #aaa;
  display: inline-block;
  margin: 0 16px 0 0;
  min-width: 70px;
  padding: 16px;
  position: relative;
}
.tabs-item:hover {
  color: #069fa6;
  text-decoration: none;
}
.tabs-item.is-selected {
  border-bottom: 3px solid #069fa6;
  color: #069fa6;
}

/**
 *  TAG
 *
 *  Markup:
 *  -------
 *
 *  <ul>
 *    <li class="tag">Fantasy</li>
 *    <li class="tag">Fiction</li>
 *    <li class="tag">Contemporary</li>
 *  </ul>
 *
 *  <ul>
 *    <li class="tag">
 *      <a href="#">Fantasy</a>
 *    </li>
 *    <li class="tag">
 *      <a href="#">Fiction</a>
 *    </li>
 *    <li class="tag">
 *       <a href="#">Contemporary</a>
 *    </li>
 *  </ul>
 *
 */
.tag {
  background-color: #eceff1;
  border-radius: 8px 0 0 8px;
  color: #444;
  display: inline-block;
  line-height: 16px;
  margin: 0 16px 16px 0;
  padding: 8px;
  position: relative;
}
.tag::before {
  border-bottom: 16px solid transparent;
  border-left: 8px solid #eceff1;
  border-top: 16px solid transparent;
  content: "";
  height: 0;
  position: absolute;
  right: -8px;
  top: 0;
  width: 0;
}
.tag::after {
  background: #fff;
  border-radius: 100%;
  content: "";
  height: 5px;
  margin-top: -2.5px;
  position: absolute;
  right: -2.5px;
  top: 50%;
  width: 5px;
}

.site-branding {
  display: inline-flex;
}
.site-branding .custom-logo {
  max-width: 13rem;
}

.site-main {
  min-height: calc(100vh - 15rem);
  position: relative;
}

.site-footer {
  background-color: #069fa6;
  margin-top: 3.75rem;
  padding: 3.75rem;
}
.site-footer .alternate-logo {
  max-width: 9rem;
}

.footer-wrap {
  display: inline-flex;
  width: 100%;
}

.header-wrap {
  align-items: center;
  display: flex;
  margin: 48px 0;
}

.fp-content {
  margin: 0 auto;
  max-width: 47.5rem;
}

.inspirations-bg {
  background: linear-gradient(180deg, #fff 0%, #a8dbdd 480px);
  margin-top: 3rem;
  min-height: calc(100vh - 12.5rem);
  padding: 2rem 0;
  width: 100%;
}

.inspirations-filters {
  flex-direction: column;
}

.inspirations-filters,
.filters-block,
.filters-active {
  align-items: center;
  display: flex;
  justify-content: center;
}

.inspirations-filters-title {
  color: #aaa;
  font-size: 0.875rem;
  line-height: 1.6875rem;
  margin-right: 8px;
}

.filters-active {
  border-top: 0.0625rem solid #eceff1;
  margin: 16px 0 0;
  padding: 8px 0 0;
}

.filter-delete,
.filters-clear {
  font-size: 0.875rem;
}

.filter-delete:not(:last-child),
.filters-clear:not(:last-child) {
  margin-right: 16px;
}

.no-results {
  margin-top: 48px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}
@media (min-width: 90%) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1160px;
  }
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;
}

.no-gutters {
  margin-left: 0;
  margin-right: 0;
}
.no-gutters > .col,
.no-gutters > [class*=col-] {
  padding-left: 0;
  padding-right: 0;
}

.col-xl,
.col-xl-auto, .col-xl-12, .col-xl-11, .col-xl-10, .col-xl-9, .col-xl-8, .col-xl-7, .col-xl-6, .col-xl-5, .col-xl-4, .col-xl-3, .col-xl-2, .col-xl-1, .col-lg,
.col-lg-auto, .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1, .col-md,
.col-md-auto, .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1, .col-sm,
.col-sm-auto, .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .col,
.col-auto, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
  min-height: 1px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  width: 100%;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  flex: 0 0 auto;
  max-width: none;
  width: auto;
}

.col-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.order-first {
  order: -1;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.order-4 {
  order: 4;
}

.order-5 {
  order: 5;
}

.order-6 {
  order: 6;
}

.order-7 {
  order: 7;
}

.order-8 {
  order: 8;
}

.order-9 {
  order: 9;
}

.order-10 {
  order: 10;
}

.order-11 {
  order: 11;
}

.order-12 {
  order: 12;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

@media (min-width: 90%) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-sm-auto {
    flex: 0 0 auto;
    max-width: none;
    width: auto;
  }

  .col-sm-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-sm-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-sm-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-sm-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-sm-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-sm-first {
    order: -1;
  }

  .order-sm-1 {
    order: 1;
  }

  .order-sm-2 {
    order: 2;
  }

  .order-sm-3 {
    order: 3;
  }

  .order-sm-4 {
    order: 4;
  }

  .order-sm-5 {
    order: 5;
  }

  .order-sm-6 {
    order: 6;
  }

  .order-sm-7 {
    order: 7;
  }

  .order-sm-8 {
    order: 8;
  }

  .order-sm-9 {
    order: 9;
  }

  .order-sm-10 {
    order: 10;
  }

  .order-sm-11 {
    order: 11;
  }

  .order-sm-12 {
    order: 12;
  }

  .offset-sm-0 {
    margin-left: 0;
  }

  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }

  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }

  .offset-sm-3 {
    margin-left: 25%;
  }

  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }

  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }

  .offset-sm-6 {
    margin-left: 50%;
  }

  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }

  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }

  .offset-sm-9 {
    margin-left: 75%;
  }

  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }

  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
}
@media (min-width: 768px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-md-auto {
    flex: 0 0 auto;
    max-width: none;
    width: auto;
  }

  .col-md-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-md-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-md-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-md-first {
    order: -1;
  }

  .order-md-1 {
    order: 1;
  }

  .order-md-2 {
    order: 2;
  }

  .order-md-3 {
    order: 3;
  }

  .order-md-4 {
    order: 4;
  }

  .order-md-5 {
    order: 5;
  }

  .order-md-6 {
    order: 6;
  }

  .order-md-7 {
    order: 7;
  }

  .order-md-8 {
    order: 8;
  }

  .order-md-9 {
    order: 9;
  }

  .order-md-10 {
    order: 10;
  }

  .order-md-11 {
    order: 11;
  }

  .order-md-12 {
    order: 12;
  }

  .offset-md-0 {
    margin-left: 0;
  }

  .offset-md-1 {
    margin-left: 8.3333333333%;
  }

  .offset-md-2 {
    margin-left: 16.6666666667%;
  }

  .offset-md-3 {
    margin-left: 25%;
  }

  .offset-md-4 {
    margin-left: 33.3333333333%;
  }

  .offset-md-5 {
    margin-left: 41.6666666667%;
  }

  .offset-md-6 {
    margin-left: 50%;
  }

  .offset-md-7 {
    margin-left: 58.3333333333%;
  }

  .offset-md-8 {
    margin-left: 66.6666666667%;
  }

  .offset-md-9 {
    margin-left: 75%;
  }

  .offset-md-10 {
    margin-left: 83.3333333333%;
  }

  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
}
@media (min-width: 1024px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-lg-auto {
    flex: 0 0 auto;
    max-width: none;
    width: auto;
  }

  .col-lg-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-lg-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-lg-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-lg-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-lg-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-lg-first {
    order: -1;
  }

  .order-lg-1 {
    order: 1;
  }

  .order-lg-2 {
    order: 2;
  }

  .order-lg-3 {
    order: 3;
  }

  .order-lg-4 {
    order: 4;
  }

  .order-lg-5 {
    order: 5;
  }

  .order-lg-6 {
    order: 6;
  }

  .order-lg-7 {
    order: 7;
  }

  .order-lg-8 {
    order: 8;
  }

  .order-lg-9 {
    order: 9;
  }

  .order-lg-10 {
    order: 10;
  }

  .order-lg-11 {
    order: 11;
  }

  .order-lg-12 {
    order: 12;
  }

  .offset-lg-0 {
    margin-left: 0;
  }

  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }

  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }

  .offset-lg-3 {
    margin-left: 25%;
  }

  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }

  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }

  .offset-lg-6 {
    margin-left: 50%;
  }

  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }

  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }

  .offset-lg-9 {
    margin-left: 75%;
  }

  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }

  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
}
@media (min-width: 1200px) {
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-xl-auto {
    flex: 0 0 auto;
    max-width: none;
    width: auto;
  }

  .col-xl-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-xl-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xl-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-xl-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xl-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-xl-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xl-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-xl-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-xl-first {
    order: -1;
  }

  .order-xl-1 {
    order: 1;
  }

  .order-xl-2 {
    order: 2;
  }

  .order-xl-3 {
    order: 3;
  }

  .order-xl-4 {
    order: 4;
  }

  .order-xl-5 {
    order: 5;
  }

  .order-xl-6 {
    order: 6;
  }

  .order-xl-7 {
    order: 7;
  }

  .order-xl-8 {
    order: 8;
  }

  .order-xl-9 {
    order: 9;
  }

  .order-xl-10 {
    order: 10;
  }

  .order-xl-11 {
    order: 11;
  }

  .order-xl-12 {
    order: 12;
  }

  .offset-xl-0 {
    margin-left: 0;
  }

  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }

  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }

  .offset-xl-3 {
    margin-left: 25%;
  }

  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }

  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }

  .offset-xl-6 {
    margin-left: 50%;
  }

  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }

  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }

  .offset-xl-9 {
    margin-left: 75%;
  }

  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }

  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
}
/*# sourceMappingURL=index.css.map */