// INSPIRATIONS

.fp-content {
	margin: 0 auto;
	max-width: rem(760);
}

.inspirations-bg {
	background: $gr-pale;
	margin-top: rem(48);
	min-height: calc(100vh - #{rem(200)});
	padding: rem(32) 0;
	width: 100%;
}

.inspirations-filters {
	flex-direction: column;
}

.inspirations-filters,
.filters-block,
.filters-active {
	align-items: center;
	display: flex;
	justify-content: center;
}

.inspirations-filters-title {
	color: $c-gray;
	font-size: rem(14);
	line-height: rem(27);
	margin-right: $m-small;
}

.filters-active {
	border-top: rem(1) solid $c-gray-light;
	margin: $m-medium 0 0;
	padding: $p-medium 0 0;
}

.filter-delete,
.filters-clear {
	font-size: rem(14);
}

.filter-delete:not(:last-child),
.filters-clear:not(:last-child) {
	margin-right: $m-medium;
}
