// INSPIRATIONS

.fp-content {
	margin: 0 auto;
	max-width: rem(760);
}

.inspirations-bg {
	background: $gr-pale;
	margin-top: rem(48);
	min-height: calc(100vh - #{rem(200)});
	padding: rem(32) 0;
	width: 100%;
}

.inspirations-filters {
	align-items: center;
	display: flex;
	justify-content: center;
}

.inspirations-filters-title {
	color: $c-gray;
	font-size: rem(14);
	margin-right: $m-small;
}
