// INSPIRATIONS

.fp-content {
	margin: 0 auto;
	max-width: rem(760);
}

.inspirations-bg {

	@include media-breakpoint-up(lg) {
		background: linear-gradient(180deg, $c-white rem(250), $c-aqua-island rem(250));
	}

	background: linear-gradient(180deg, $c-white rem(220), $c-aqua-island rem(220));
	margin-top: rem(48);
	min-height: calc(100vh - #{rem(200)});
	padding: rem(32) 0;
	width: 100%;
}

.inspirations-filters,
.filters-block,
.filters-active {
	align-items: center;
	display: flex;
	justify-content: center;
}

.inspirations-filters {
	flex-direction: column;

	.filters-block {
		@include media-breakpoint-down(sm) {
			flex-direction: column;
			width: 100%;

			.select {
				margin: rem(8) 0;
				width: 80%;
			}
		}
	}

	.inspirations-filters-title {
		color: $c-gray;
		font-size: rem(14);
		line-height: rem(27);
		margin-right: $m-small;
	}

	.filters-active {
		border-top: rem(1) solid $c-gray-light;
		margin: $m-medium 0 0;
		padding: $p-medium 0 0;
	}

	.filter-delete,
	.filters-clear {
		font-size: rem(14);
	}

	.filter-delete:not(:last-child),
	.filters-clear:not(:last-child) {
		margin-right: $m-medium;
	}
}

.inspirations-block {
	@include media-breakpoint-up(lg) {
		margin-top: $m-huge;

		.inspiration {
			&:nth-child(3n + 2) {
				margin-top: -$m-huge;
			}
		}
	}
}
